@model IEnumerable<JabCMS.Models.Post>

@{
 ViewBag.Title = "Index";
}

<div class="panel panel-default">
  <div class="panel-body">
   <h1>Posts</h1>
   @Html.DropDownList("orderByCombobox", new SelectList(Model, "Id", "Title"), new { id="myOrderByCombobox" })   
   @using (Html.BeginForm())
   {
    <h4>Search: </h4>
    @Html.TextBox("SearchString")
    <input type="submit" value="Search"/>
   }
   </div>
 </div>


@foreach (var item in Model)
{

 <h2><i>@item.Title</i></h2>
  
 <ul class="list-inline">
  @foreach (var catgeory in item.Categories)
  {
   <li>@catgeory.Name</li>
  }
 </ul>


 <div class="well">
  <table style="width:100%">
   <tr>
    <td style="width:20%;border-right:groove;border-color:whitesmoke;padding-right:5em">
     <button class="btn btn-info btn-xs">@Html.ActionLink(@item.Author.Name, "Details", "Author", new { id = item.Author.AuthorId }, new { @style="color:white" })</button>
     <button class="btn btn-default btn-xs disabled">@item.DateCreated.ToString("M/d/yyy")</button>
    </td>
    <td style="width:60%;padding-left:5em">
     <i>@item.Content</i>
    </td>
    <td style="width:20%">
     <button class="btn btn-success" style="margin-left:5em;color:white">@Html.ActionLink("Read more", "Details", "Post", new { item.Id }, new { @style="color:white" })</button>
    </td>
   </tr>
  </table>
 </div>
}

@section Scripts {
 @Scripts.Render("~/bundles/jqueryval")

 
<script type="text/javascript">
 $('#myOrderByCombobox').change(function () {
  alert('change');
  @*$.ajax({
   url:{@Url.Action("Index", "Post", new { orderBy="test" })}
   });*@
  
 });

</script>

}

